// Variables
$background-color: #2d2d2d; // Fondo oscuro suave
$form-background: #333;      // Fondo del formulario oscuro
$text-color: #f0f0f0;        // Texto claro para contraste
$input-background: #444;     // Fondo de los inputs
$input-border-color: #666;  // Borde de los inputs
$button-color: #3e8e41;     // Verde oscuro para el botón
$button-hover: #357a38;     // Verde más oscuro para el hover
$max-width: 900px;          // Máximo de 900px de ancho

// Estilos globales
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  // Asegura que el body ocupe toda la altura de la ventana
  min-height: 100%; // Garantiza que el body ocupe al menos toda la altura
  background-color: $background-color;
  color: $text-color;
}

// Estilos para el formulario
form {
  background-color: $form-background;
  padding: 30px; // Aumenta el padding para darle más espacio alrededor del formulario
  width: 100%;
  max-width: $max-width; // Máximo de 900px de ancho
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px; // Añade margen para que no quede pegado a los bordes
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: $text-color;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: $text-color;
}

// Estilo de los campos de entrada y textarea
input[type="text"],
input[type="email"],
input[type="date"],
input[type="checkbox"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  background-color: $input-background;
  color: $text-color;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin: 0;
}

input[type="submit"] {
  background-color: $button-color;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: $button-hover;
}

// Estilo para el textarea
textarea {
  resize: vertical;
}
