// Variables
$background-color: #2d2d2d; // Fondo oscuro suave
$form-background: #333;      // Fondo del formulario oscuro
$text-color: #f0f0f0;        // Texto claro para contraste
$input-background: #444;     // Fondo de los inputs
$input-border-color: #666;  // Borde de los inputs
$button-color: #3e8e41;     // Verde oscuro para el botón
$button-hover: #357a38;     // Verde más oscuro para el hover
$max-width: 900px;          // Máximo de 900px de ancho
$padding-top: 20px;         // Menos padding en la parte superior

// Estilos globales
html, body {
  margin: 0;
  padding: 0;
  height: 100%; // Asegura que ocupemos toda la altura de la ventana
  width: 100%;  // Asegura que ocupemos toda la anchura de la ventana
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;  // Centrado horizontal
  align-items: center;      // Centrado vertical
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;        // Ocupa al menos toda la altura de la ventana
  padding-top: $padding-top; // Reducido padding superior
  flex-direction: column;   // Permite que el título esté arriba y el formulario abajo
}

// Estilos para el título
h1 {
  text-align: center;
  margin-top: 0; // Elimina el margen superior para que quede en la parte superior
  margin-bottom: 20px; // Espacio entre el título y el formulario
  color: $text-color;
}

// Estilos para el formulario
form {
  background-color: $form-background;
  padding: 30px; // Aumenta el padding para darle más espacio alrededor del formulario
  width: 100%;
  max-width: $max-width; // Máximo de 900px de ancho
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 0 20px 0; // Añade margen en la parte inferior para separar del borde
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: $text-color;
}

// Estilo de los campos de entrada y textarea
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  background-color: $input-background;
  color: $text-color;
  box-sizing: border-box;
}

// Estilo para el checkbox (personalizado si es necesario)
input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin: 0;
}

// Estilo para el botón
input[type="submit"] {
  background-color: $button-color;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: $button-hover;
}

// Estilo para el textarea
textarea {
  resize: vertical;
}
