/* Estilos globales */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Asegura que ocupemos toda la altura de la ventana */
  width: 100%;
  /* Asegura que ocupemos toda la anchura de la ventana */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* Centrado horizontal */
  align-items: center;
  /* Centrado vertical */
  /* $background-color */
  background-color: #2d2d2d;
  /* $text-color */
  color: #f0f0f0;
  min-height: 100vh;
  /* Ocupa al menos toda la altura de la ventana */
  /* $padding-top */
  padding-top: 20px;
  /* Reducido padding superior */
  flex-direction: column;
  /* Permite que el título esté arriba y el formulario abajo */
}

/* Estilos para el título */
h1 {
  text-align: center;
  margin-top: 0;
  /* Elimina el margen superior para que quede en la parte superior */
  margin-bottom: 20px;
  /* Espacio entre el título y el formulario */
  /* $text-color */
  color: #f0f0f0;
}

/* Estilos para el formulario */
form {
  /* $form-background */
  background-color: #333;
  padding: 30px;
  /* Aumenta el padding para darle más espacio alrededor del formulario */
  width: 100%;
  /* $max-width */
  max-width: 900px;
  /* Máximo de 900px de ancho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 0 20px 0;
  /* Añade margen en la parte inferior para separar del borde */
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  /* $text-color */
  color: #f0f0f0;
}

/* Estilo de los campos de entrada y textarea */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  /* $input-border-color */
  border: 1px solid #666;
  border-radius: 4px;
  /* $input-background */
  background-color: #444;
  /* $text-color */
  color: #f0f0f0;
  box-sizing: border-box;
}

/* Estilo para el checkbox (personalizado si es necesario) */
input[type="checkbox"] {
  width: auto;
  display: inline-block;
  margin: 0;
}

/* Estilo para el botón */
input[type="submit"] {
  /* $button-color */
  background-color: #3e8e41;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

input[type="submit"]:hover {
  /* $button-hover */
  background-color: #357a38;
}

/* Estilo para el textarea */
textarea {
  resize: vertical;
}