@import "tailwindcss";

@theme {
    /* Colores */
    --color-primary: var(--color-blue-700);
    --color-accent: var(--color-blue-500);
    --color-background: white;
    --color-surface: var(--color-slate-100);
    --color-text-primary: var(--color-slate-800);
    --color-text-secondary: var(--color-slate-500);
    --color-success: var(--color-green-500);
    --color-warning: var(--color-amber-500);
    --color-danger: var(--color-red-700);
    --color-info: var(--color-blue-400);
}

body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
}

button {
    color: var(--color-text-primary);
    padding: 4px;
}

button:hover {
    border-radius: var(--radius-sm);
    background-color: lightgray;
}

button.active {
    font-weight: var(--font-weight-semibold);
}

.topbar {
    position: sticky;
    top: 0;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 16px;
}